.login-modal .ivu-modal-footer {
  border-top: none;
}

.login-modal .ivu-modal-header {
  border-bottom: none;
}

.mySelect .ivu-select-selection {
  background: #F7F7F7;
  border: 0;
  box-shadow: none;
}

.mySelect .ivu-select-selection .ivu-select-selected-value {
  padding-left: 30px;
  font-family: MicrosoftYaHei;
  font-size: 24px;
  color: #333333;
  padding-right: 0;
}

.mySelect .ivu-select-arrow {
  right: 86px;
  color: #2A99F2;
  font-size: 24px;
  top: 10px;
}

.orderdata .ivu-collapse-content>.ivu-collapse-content-box{
  padding-top: 0
}

/* 每行两列form表单样式 */
.universal-modal-content-flex form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.universal-modal-content-flex form .ivu-form-item {
  width: 45%;
}

.universal-modal-content-flex form .ivu-form-item .ivu-form-item-label {
  float: none;
  font-size: 14px;
}

/* 通用弹窗底部文字提示 */
.modal-text-hint-bottom{
    color: rgb(153, 153, 153);
    font-family: MicrosoftYaHei;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}

/* 每行一列form表单样式 */
.universal-modal-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.universal-modal-content form .ivu-form-item {
  width: 75%;
}

.universal-modal-content form .ivu-form-item .ivu-form-item-label {
  float: none;
}

/* 重置modal中header,body,footer的padding */
.ivu-modal-header {
  padding: 20px 20px 0;
}

.ivu-modal-body {
  padding: 20px;
}

.ivu-modal-footer {
  padding: 0 20px 20px;
}

/* 小的提示框样式*/
.modal-content-s {
  display: flex;
  padding: 10px 10px 0;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}

.modal-footer-s {
  font-size: 16px;
  padding: 0 10px 10px;
}

/* 去掉modal头部底部border */
.ivu-modal-footer, .ivu-modal-header {
  border: none;
}

/* 增加modal头部底部的border */
p.modal-header-border {
  padding-bottom: 40px;
  border-bottom: solid 1px #D8D8D8;
  font-weight: 700
}

div.modal-header-border {
  padding-bottom: 20px;
  border-bottom: solid 1px #D8D8D8;
  font-weight: 700
}

.modal-footer-border {
  padding-top: 20px;
  border-top: solid 1px #D8D8D8;
}

.modal-footer-border button {
  font-size: 16px;
}

/* 时间选择器和reset冲突 */
.ivu-time-picker-cells-list ul {
  font-size: 12px;
}

/* 公共样式库 */
.btnnormal {
  border: #2a99f2 solid 1px;
  color: #2a99f2
}

.f24 {
  font-size: 24px;
}

.f16 {
  font-size: 16px;
}

.bluetext {
  color: #2d8cf0;
}

.mr10 {
  margin-right: 10px;
}

.orange {
  color: #F56A00
}

.yellow {
  color: #FFBF00;
}

.mt10 {
  margin-top: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.lh24 {
  line-height: 24px;
}

.ivu-form-item-label {
  display: inline-block;
}

.flex-wrapper .ivu-card-body {
  padding: 0px;
}

.ivu-modal-confirm-footer .ivu-btn-text {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 6px 15px;
  font-size: 12px;
  border-radius: 4px;
  transition: color .2s linear, background-color .2s linear, border .2s linear;
  color: #495060;
  background-color: #f7f7f7;
  border-color: #dddee1;
}

.ivu-modal-confirm-footer .ivu-btn-primary {
  padding: 6px 15px;
  font-size: 12px;
}
.demo-spin-icon-load {
  font-size: 60px !important;
}
.ivu-spin-fix {
  opacity: 0.6;
}
.demo-spin-icon-load{
  animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-demo-spin {
  from { transform: rotate(0deg);}
  50%  { transform: rotate(180deg);}
  to   { transform: rotate(360deg);}
}
.ivu-btn-primary {
  background-color: #2A99F2;
  border-color: #2A99F2;
}

.zone-collapse .ivu-select-dropdown{
    margin-top: 15px;
}

.ivu-modal{
  top:180px;
}
.ivu-collapse {
  background-color: #FFFFFF;
  border: none;
}
