.login-modal .ivu-modal-footer {
  border-top: none;
}

.login-modal .ivu-modal-header {
  border-bottom: none;
}

.mySelect .ivu-select-selection {
  background: #F7F7F7;
  border: 0;
  box-shadow: none;
}

.mySelect .ivu-select-selection .ivu-select-selected-value {
  padding-left: 30px;
  font-family: MicrosoftYaHei;
  font-size: 24px;
  color: #333333;
  padding-right: 0;
  line-height: 35px;
}

.mySelect .ivu-select-arrow {
  right: 86px;
  color: #2A99F2;
  font-size: 24px;
}
/* 每行两列form表单样式 */
.universal-modal-content-flex form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.universal-modal-content-flex form .ivu-form-item {
  width: 45%;
}

.universal-modal-content-flex form .ivu-form-item .ivu-form-item-label {
  float: none;
}

/* 每行一列form表单样式 */
.universal-modal-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.universal-modal-content form .ivu-form-item {
  width:75%;
}

.universal-modal-content form .ivu-form-item .ivu-form-item-label {
  float: none;
}

/* 重置modal中header,body,footer的padding */
.ivu-modal-header {
  padding: 20px 20px 0;
}

.ivu-modal-body {
  padding: 20px;
}

.ivu-modal-footer {
  padding: 0 20px 20px;
}

/* 小的提示框样式*/
.modal-content-s {
  display: flex;
  padding: 10px 10px 0;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}

.modal-footer-s {
  font-size: 16px;
  padding: 0 10px 10px;
}

/* 去掉modal头部底部border */
.ivu-modal-footer, .ivu-modal-header {
  border: none;
}

/* 增加modal头部底部的border */
.modal-header-border {
  padding-bottom: 40px;
  border-bottom: solid 1px #D8D8D8;
}

.modal-footer-border {
  padding-top: 20px;
  border-top: solid 1px #D8D8D8;
}

/* 公共样式库 */
.f24 {
  font-size: 24px;
}

.f16 {
  font-size: 16px;
}

.bluetext {
  color: #2d8cf0;
}

.mr10 {
  margin-right: 10px;
}

.orange {
  color: #F56A00
}

.yellow {
  color: #FFBF00;
}

.mt10 {
  margin-top: 10px;
}

.lh24 {
  line-height: 24px;
}

.ivu-form-item-label {
  display: inline-block;
}

.flex-wrapper .ivu-card-body {
  padding: 0px;
}


