.login-modal .ivu-modal-footer {
  border-top: none;
}

.login-modal .ivu-modal-header {
  border-bottom: none;
}

.aa-modal .ivu-modal-header {
  padding: 0;
}

.mySelect .ivu-select-selection {
  background: #F7F7F7;
  border: 0;
  box-shadow: none;
}

.mySelect .ivu-select-selection .ivu-select-selected-value {
  padding-left: 30px;
  font-family: Microsoft YaHei;
  font-size: 24px;
  color: #333333;
  padding-right: 0;
}

.mySelect .ivu-select-arrow {
  right: 86px;
  color: #2A99F2;
  font-size: 24px;
  top: 10px;
}

.orderdata .ivu-collapse-content > .ivu-collapse-content-box {
  padding-top: 0
}

/* 注销流程进度条样式调整 */
.ProgressCancel .ivu-progress-success .ivu-progress-bg{
		background: #2A99F2;
	}
.ProgressCancel .ivu-progress-bg{
		min-height: 30px;
		background: #2A99F2;
	}
.ProgressCancel .ivu-progress-success .ivu-progress-text{
	color: #2A99F2;
}
.ProgressCancel .ivu-icon{
	font-size: 30px;
}
.ProgressCancel .ivu-progress-text-inner{
	font-size: 18px;
}

/* 每行两列form表单样式 */
.universal-modal-content-flex form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.universal-modal-content-flex form .ivu-form-item {
  width: 45%;
}

.universal-modal-content-flex form .ivu-form-item .ivu-form-item-label {
  float: none;
  font-size: 14px;
}
/* form表单,label文字14px */
.universal-modal-label-14px form .ivu-form-item .ivu-form-item-label {
  font-size: 14px;
}
/* form表单,隐藏必填字段的*号 */
.hide-star-symbol .ivu-form-item-required .ivu-form-item-label:before {
  display: none;
}
/* form表单, formItem间距10px*/
.universal-modal-mb-10px form .ivu-form-item, form.universal-modal-mb-10px .ivu-form-item {
  margin-bottom: 10px;
}
/* form表单样式,错误提示不换行 */
.universal-form-tips-line .ivu-form-item-content {
  display: flex;
}
.universal-form-tips-line .ivu-form-item {
  margin-bottom: 0;
}
.universal-form-tips-line .ivu-form-item-error-tip {
  position:relative;
  margin-left: 10px;
  font-size: 14px;
  line-height: 36px;
  padding: 0;
}
.universal-form-tips-line .domain-textarea .ivu-form-item-error-tip {
  position: absolute;
  line-height: 1;
  padding-top: 6px;
  margin-left: 0;
}
/* .universal-form-tips-line .ivu-form-item-error-tip:before {
  content: '';
  margin-right: 0px;
} */
.universal-form-tips-line .ivu-form .ivu-form-item-label {
  font-size: 14px;
  color: #333;
}
.bssl .step-one .ivu-form .ivu-form-item-label {
  width: 100px;
  text-align: left;
}
.bssl .step-two .ivu-form .ivu-form-item-label {
  width: 90px;
  text-align: left;
}
.universal-form-tips-line .ivu-form-item-required .ivu-form-item-label:before {
  content: '';
  margin-right: 0px;
}

/* 通用弹窗底部文字提示 */
.modal-text-hint-bottom {
  color: rgb(153, 153, 153);
  font-family: Microsoft YaHei;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}

/* 每行一列form表单样式 */
.universal-modal-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.universal-modal-content form .ivu-form-item {
  width: 75%;
}

.universal-modal-content form .ivu-form-item .ivu-form-item-label {
  float: none;
}

/* 新增负载均衡样式修改 */
#moli .ivu-form-item {
  width: 81%;
}
#moli .ivu-form-item .ivu-form-item-label {
  float: left;
}
#moli .ivu-form-item-error-tip{
	margin-left: 95px;
	margin-top: 30px;
}
#moli .ivu-form-item{
	margin-bottom: 0;
}
#moli1 .ivu-form-item {
  width: 81%;
}
#moli1 .ivu-form-item .ivu-form-item-label {
  float: left;
}
#moli1 .ivu-form-item-error-tip{
	margin-left: 75px;
	margin-top: 30px;
}
#moli1 .ivu-form-item{
	margin-bottom: 0;
}
#moli2 .ivu-form-item {
  width: 83%;
}
#moli2 .ivu-form-item .ivu-form-item-label {
  float: left;
}
#moli2 .ivu-form-item-error-tip{
	margin-left: 85px;
	margin-top: 30px;
}
#moli22 .ivu-form-item {
  width: 86%;
}
#moli22 .ivu-form-item .ivu-form-item-label {
  float: left;
}
#moli22 .ivu-form-item-error-tip{
	margin-left: 95px;
	margin-top: 30px;
}
#moli2 #gfgf{
	float: right;
	width: 145px;
	margin-right: 78px;
}
#moli2 #gfgf1{
	float: right;
	width: 145px;
	margin-right: 78px;
}
#moli2 #fgfg{
	float: left;
	width: 230px;
}
#moli2 #jiakuan{
	width: 100%;
}
#gfgf .ivu-form-item-error-tip{
	margin-left: 5px;
}
#gfgf1 .ivu-form-item-error-tip{
	margin-left: 5px;
}

/* 重置modal中header,body,footer的padding */
.ivu-modal-header {
  padding: 20px 20px 0;
}

.ivu-modal-body {
  padding: 20px;
}

.ivu-modal-footer {
  padding: 0 20px 20px;
}

/* 小的提示框样式*/
.modal-content-s {
  display: flex;
  padding: 10px 10px 0;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}

.modal-footer-s {
  font-size: 16px;
  padding: 0 10px 10px;
}

/* 去掉modal头部底部border */
.ivu-modal-footer, .ivu-modal-header {
  border: none;
}

/* 增加modal头部底部的border */
p.modal-header-border {
  padding-bottom: 40px;
  font-weight: 700
}

div.modal-header-border {
  padding-bottom: 20px;
  font-weight: 700
}

.modal-footer-border {
  padding-top: 20px;
  border-top: solid 1px #D8D8D8;
}

.modal-footer-border button {
  font-size: 16px;
}

/* 时间选择器和reset冲突 */
.ivu-time-picker-cells-list ul {
  font-size: 12px;
}

/* 公共样式 */

.btnnormal {
  border: #2a99f2 solid 1px;
  color: #2a99f2
}
/* 字体大小 */
.f24 {
  font-size: 24px;
}
.f16 {
  font-size: 16px;
}
/* 字体样式 */
.fsn {
  font-style: normal;
}
/* 字体颜色 */
.bluetext {
  color: #2d8cf0;
}
.orange {
  color: #FF392A;
}
.yellow {
  color: #FFBF00;
}
/* margin */
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
/* 行高 */
.lh24 {
  line-height: 24px;
}
.attention{
  font-size:12px;
  color:rgba(255,57,42,1);
  line-height:21px;
}
/* 浮动 */
.fl {
  float: left;
}
.fr {
  float: right;
}
/* 公共样式结束 */
.flex-vertical-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ivu-form-item-label {
  display: inline-block;
}

.flex-wrapper .ivu-card-body {
  padding: 0px;
}

.ivu-modal-confirm-footer .ivu-btn-text {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 6px 15px;
  font-size: 12px;
  border-radius: 4px;
  transition: color .2s linear, background-color .2s linear, border .2s linear;
  color: #495060;
  background-color: #f7f7f7;
  border-color: #dddee1;
}

.ivu-modal-confirm-footer .ivu-btn-primary {
  padding: 6px 15px;
  font-size: 12px;
}

.demo-spin-icon-load {
  font-size: 60px !important;
}

.ivu-spin-fix {
  opacity: 0.6;
}

.demo-spin-icon-load {
  animation: ani-demo-spin 1s linear infinite;
}

@keyframes ani-demo-spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ivu-btn-primary {
  background-color: #2A99F2;
  border-color: #2A99F2;
}

.zone-collapse .ivu-select-dropdown {
  margin-top: 15px;
}

.ivu-modal {
  top: 180px;
}

.ivu-collapse {
  background-color: #FFFFFF;
  border: none;
}

/* 制作快照？提醒小提示 */
.create-snas-modal .ivu-poptip-inner {
  white-space: normal;
}

.online .ivu-poptip-inner {
  width: 60%;
  float: right;
}

.activity-radio .ivu-radio-wrapper {
  font-size: 18px;
}

.activity-radio .ivu-radio-checked .ivu-radio-inner {
  border-color: #F26667;
}

.activity-radio .ivu-radio-inner:after {
  background-color: #F26667;
}

.coupon .ivu-radio {
  vertical-align: top;
  top: 3px;
  margin-right: 10px;
}

/* 备案单选 */
.records-radio .ivu-radio-wrapper {
  width: 190px;
}

/* 备案多选 */
.records-checkbox .ivu-checkbox-wrapper {
  width: 190px;
}

/* 备案负责人单选 */
.records-radio-person .ivu-radio-wrapper {
  font-size: 18px;
  font-family: MicrosoftYaHei;
  color: rgba(51, 51, 51, 1);
  line-height: 24px;
}

.records-radio-person .ivu-radio-inner {
  top: -1px;
}
.firewall .ivu-tooltip-inner{
  background-color: #fff;
}

#renew .ivu-tooltip-inner {
  white-space: normal !important;
}

/* 提现银行卡样式修改 */
.font .ivu-tooltip-inner{
		background:rgba(255,255,255,1);
		box-shadow:0px 1px 4px 0px rgba(0,0,0,0.2);
		border-radius:2px;
	}

.font .ivu-tooltip-popper{
	margin-left: 63px;
}

.font .ivu-tooltip-arrow{
	background: white;
}
.font .ivu-poptip-popper{
	margin-left: 66px;
}

.smlj-bag .ivu-modal-content {
  background: url('../../assets/img/active/smlj/modal-bg.png');
}

#modelimg .ivu-modal-content{
	background: none;
}

/* 公共comfirm弹窗行高设置 */
.modal-wrapper .modal .modal-body p {
  line-height: 25px;
}

/* 所有资源页面提示框修改 */
.VPCALL .ivu-poptip-popper{
}

.allnum .ivu-poptip-popper{
	margin-left: 10px;
}

/* 所有资源页面提示框修改 */
.allbox .ivu-steps-vertical .ivu-steps-main .ivu-steps-title{
	line-height: 21px;
	font-size: 14px;
}

/* 拼团活动下拉框 */
.groupBooking-select .ivu-select-selection {
  border: 1px solid #FD8C73;
  box-shadow: 0 0 0 2px rgba(253, 140, 115, .2);
}

.groupBooking-select .ivu-select-item-selected:hover {
  background: #FD8C73;
}

.groupBooking-select .ivu-select-item-selected {
  background: #FD8C73;
}

.groupBooking-select .ivu-select-arrow {
  color: #FD8C73;
}

.groupBooking-table .ivu-table th {
  background: #FFE3D8;
}

.social-share .icon-weibo {
  margin-right: 50px;
}

.social-share .icon-qq {
  margin-right: 50px;
}
.xiannode-form .ivu-form .ivu-form-item-label {
  font-size: 16px;
}
#xian-node .zone-select .ivu-select-arrow {
  display: none;
}
.xian-input .ivu-input{
  text-align: center;
 }
/*  免费领取主机弹窗样式 */
.fr-Modal .ivu-modal-header {
  padding: 0;
  height: 77px;
  border-radius: 5px;
  background: #FD5002 url("../../assets/img/active/freeToReceive/fr-banner3.png") no-repeat;
  text-align: center;
}

.fr-Modal .ivu-modal-header p {
  font-size: 28px;
  font-family: "Microsoft YaHei", "微软雅黑";
  color: rgba(255, 255, 255, 1);
  line-height: 77px;
  height: 77px;
}

.fr-Modal .ivu-modal-body {
  padding: 40px;
}

.fr-Modal .ivu-modal-footer {
  text-align: center;
}

.fr-select .ivu-select-selection{
  border: 1px solid rgba(125,161,217,1);
}
.fr-select .ivu-select-item-selected:hover {
  background: rgba(56,125,255,1);
}

.fr-select .ivu-select-item-selected {
  background: rgba(56,125,255,1);
}

.fr-select .ivu-select-arrow {
  color: rgba(56,125,255,1);
}
.schoolseason-select .ivu-select-selection,.schoolseason-select .ivu-cascader-rel .ivu-input,.schoolseason-select .ivu-input{
  border: 1px solid #E5C2C2;
  box-shadow: none;
}
#schoolseason .host-count .ivu-input {
    text-align: center;
}

/* 自定义监控下拉框 */
.cm-select.ivu-select-single .ivu-select-selection {
  height: 28px;
}

.cm-select.ivu-select-single .ivu-select-selection .ivu-select-placeholder {
  line-height: 24px;
}

.cm-select.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
  line-height: 24px;
}

/* 数据库活动下拉 */
.db-select .ivu-select-selection {
  border: 1px solid #DEDEDE;
  height: 30px;
}

.db-select .ivu-select-arrow {
  color: #DEDEDE;
}

/*buy页面样式调整*/
#buy .mySelect {
  width: auto !important;
}

#buy .mySelect .ivu-select-arrow {
  left: 0px;
  right: unset;
}

.ivu-select-disabled .ivu-select-selection {
  color: black;
}

/* 登录页面select */
.login-select .ivu-select-selection {
  border: none;
  box-shadow: none;
}
/* 所有弹窗样式更改 */
.ivu-modal-header{
  background: #333333;
  border-bottom: none;
  border-radius: 6px 6px 0 0;
}
.ivu-modal-close .ivu-icon-ios-close-empty{
  border-radius: 6px 6px 0px 0px;
}

.my_table .ivu-table th{
  background-color: #F6FAFD;
}
.my_table .ivu-table{
box-shadow:0px 2px 3px 0px rgba(115,115,115,0.4);
}
.my_table .ivu-table td, .my_table .ivu-table th{
  border: none
}

.schoolseason-progress .ivu-progress-inner {
  background: #F8DADA;
}
.schoolseason-progress .ivu-progress-bg {
  background:linear-gradient(90deg,rgba(255,150,102,1) 0%,rgba(255,73,45,1) 100%);
  box-shadow:2px 1px 6px -1px rgba(230,47,47,0.59);
}

.schoolseason-progress1 .ivu-progress-inner {
  background:rgba(64,68,104,1);
}
.schoolseason-progress1 .ivu-progress-bg {
  background:linear-gradient(90deg,#F7BE87 0%,#F7BE87 100%);
  box-shadow:2px 1px 6px -1px rgba(46,101,230,0.59);
}

.ss-anth-modal .ivu-form-item-error-tip {
  margin-left: 80px;
}

/*云市场-详情页*/
.product-nav .ivu-tabs-bar{
  border-bottom: 0;
}
.product-nav .ivu-tabs-tab{
  width: 106px;
  text-align: center;
  border: 1px solid rgba(217,217,217,1);
}
.product-nav .ivu-tabs-nav .ivu-tabs-tab{
  height: 35px;
  line-height: 15px;
  margin-right: 10px;
  font-size: 14px;
  border-radius: 4px;
}
.product-nav .ivu-tabs-tab:hover{
    border: 1px solid #2d8cf0;
    background: rgba(55,125,255,0.09);
  }
.product-nav .ivu-tabs-nav-scroll{
  padding-left: 120px;
  height: 40px;
}
.product-nav .ivu-tabs-nav .ivu-tabs-tab-active{
  border: 1px solid #2d8cf0;
  width: 106px;
  height: 35px;
  background: rgba(55,125,255,0.09);
}
.product-nav .ivu-tabs-ink-bar{
  height: 0;
}
/*咨询购买对话框*/
.ivu-modal-header-inner{
  color: rgb(208, 208, 208);
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
}
.ivu-modal-wrap *{
  font-size: 14px;
}
.ivu-modal-wrap * .sell-item{
  margin-bottom: 10px;
}
.ivu-modal-wrap * .hints{
  padding-top: 10px;
  margin-bottom: 20px;
}
.ivu-modal-wrap * .check{
  margin-top: 10px;
  display: flex;
}
.ivu-modal-wrap * .check-title{
  width: 60px;
}
.ivu-modal-wrap * .check-list{
  margin-left: 20px;
}
.ivu-modal-wrap * .inp{
  margin-top: 10px;
}
.ivu-modal-footer{
  display: none;
}
.ivu-form .ivu-form-label-right{
  margin-top: 10px;
}
.ivu-form-item-required .ivu-form-item-label:before{
  content: '';
}
.ivu-modal-wrap * .ivu-form .ivu-form-item-label{
  width: 66px !important;
  text-align: left;
  font-size: 14px;
  padding-right: 0;
}
.ivu-input{
  width: 300px;
}
#details [type=reset], [type=submit],html [type=button]{
  width: 92px !important;
  height: 36px !important;
  font-size: 14px !important;
}
.ivu-modal-wrap * .success{
  width: 100%;
  text-align: center;
}
.ivu-modal-wrap * .success .success-icon{
  width: 100%;
  padding: 50px 0 20px 0;
  box-sizing: border-box;
}
.ivu-modal-wrap * .success .success-content{
  width: 100%;
}
.ivu-modal-wrap * .success .success-content p:first-of-type{
  font-size: 18px;
  color: rgba(48,186,120,1);
}
.ivu-modal-wrap * .success .success-content p:last-of-type{
  font-size: 14px;
  color: rgba(102,102,102,1);
  padding: 10px 0 20px 0;
  box-sizing: border-box;
}
.ivu-modal-wrap * .success .success-content button{
  width: 64px;
  height: 36px;
  background: rgba(59,120,255,1);
  border-radius: 2px;
  color: white;
  outline: navajowhite;
  border: navajowhite;
  cursor: pointer;
}

/*云市场-列表页*/
.ivu-menu-light{
  width: 200px !important;
  box-shadow: 5px 0px 20px #e2e0e0;
 }
.ivu-menu-vertical .ivu-menu-item-group-title{
  font-size: 18px;
  color: rgba(51,51,51,1);
  font-weight: bold;
  padding-left: 40px;
  height: 70px;
  line-height: 70px;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item{
  color: rgba(102,102,102,1);
  padding-left: 40px;
  font-size: 14px;
  display: flex;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item img{
  width: 16px;
  height: 16px;
  margin: auto 10px auto 0;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu){
  background: rgba(235,240,253,1);
  border-right: 4px solid #2d8cf0;
}

.ivu-dropdown{
  padding-bottom: 10px;
}
.ivu-dropdown-rel a{
  color: rgba(102,102,102,1);
  position: relative;
}
.ivu-icon-android-arrow-dropup:before{
  position: absolute;
  top: -2px;
  right: -2px;
}
.ivu-icon-android-arrow-dropdown:before{
  position: absolute;
  bottom: -2px;
  right: -2px;
}

.product-nav .ivu-dropdown-rel a{
  margin: 0 30px;
}

/*云市场-服务商申请*/
#apply .ivu-steps .ivu-steps-head{
  background: #f4f5f9;
}
#apply .ivu-form .ivu-form-item-label{
  width: 320px !important;
  font-size: 14px;
}
#apply .ivu-input-wrapper{
  width: 500px;
}
textarea.ivu-input{
  resize: none;
  height: 120px !important;
}
#apply .ivu-form-item-error-tip{
  margin-left: 250px;
}
#apply .ivu-form-item:last-of-type{
  margin-left: 240px;
  padding: 30px 0 100px 0;
  box-sizing: border-box;
}
#apply [type=reset], [type=submit],html [type=button]{
  width: 147px;
  height: 49px;
  font-size: 16px;
}

/*服务供应商-部署测试滑块*/
#apply .ivu-slider-wrap{
  margin-top: 0;
  margin-bottom: 0;
  height: 32px;
  background: white;
  border: 1px solid rgba(217,217,217,1);
}
#apply .ivu-slider-input .ivu-input-number{
  margin-top: 0;
}
#apply .ivu-slider-button{
  width: 14px;
  height: 40px;
  border-radius: 0;
  border: none;
  background: url(../img/market/slier.png) no-repeat center;
  background-size: cover;
}
#apply .ivu-slider-bar{
  height: 32px;
}
#apply .ivu-input-number-input:after{
  content: 'MB';
}
#apply .points-style[data-v-e7b0a332]{
  background: white;
}
#apply .ivu-select-single .ivu-select-selection .ivu-select-placeholder {
  color: #666666;
}

/*云市场-产品详情页*/
.ivu-modal-wrap * .ino-box-deploy-item{
  display: flex;
  margin-bottom: 20px;
}
.ivu-modal-wrap * .ino-box-deploy-item .title{
  width: 75px;
  line-height: 32px;
  margin-right: 10px;
  text-align: right;
}
.ivu-modal-wrap * .ino-box-deploy-item .content{
  width: 400px;
}
.ivu-modal-wrap * .ino-box-deploy-item:nth-of-type(2) {
  margin-bottom: 0;
}
.ivu-modal-wrap * .ino-box-deploy-item .content>span{
  display: inline-block;
  padding: 8px 25px;
  border: 1px solid rgba(217,217,217,1);
  color: rgba(102,102,102,1);
  font-size: 14px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}
.ivu-modal-wrap * .ino-box-deploy-item .content>span:hover{
  background: rgba(56,125,255,1);
  color: white !important;
  border: 1px solid rgba(56,125,255,1);
  transition: 0.5s;
}
.ivu-modal-wrap * .active{
  background: rgba(56,125,255,1);
  color: white !important;
  border: 1px solid rgba(56,125,255,1);
}
.ivu-modal-wrap * .points-style[data-v-e7b0a332]{
  background: white;
}
.ivu-modal-wrap * .sub{
  border-top: 1px solid rgba(233,233,233,1);
  padding-top: 20px;
  box-sizing: border-box;
  text-align: right;
  margin-top: 40px;
}
.ivu-modal-wrap * .sub button{
  width:92px;
  height:36px;
  margin-left: 10px;
}
.ivu-icon-android-alert:before {
  font-size: 40px;
}
.ivu-icon-help-circled:before{
  font-size: 40px;
}
.ivu-modal-confirm-body{
  padding-top: 8px;
}

#list .ivu-dropdown{
  margin: 0 30px;
}