/*云市场-详情页*/
.product-nav .ivu-tabs-bar{
  border-bottom: 0;
}
.product-nav .ivu-tabs-tab{
  width: 106px;
  text-align: center;
  border: 1px solid rgba(217,217,217,1);
}
.product-nav .ivu-tabs-nav .ivu-tabs-tab{
  height: 35px;
  line-height: 15px;
  margin-right: 10px;
  font-size: 14px;
  border-radius: 4px;
}
.product-nav .ivu-tabs-tab:hover{
    border: 1px solid #2d8cf0;
    background: rgba(55,125,255,0.09);
  }
.product-nav .ivu-tabs-nav-scroll{
  padding-left: 120px;
  height: 40px;
}
.product-nav .ivu-tabs-nav .ivu-tabs-tab-active{
  border: 1px solid #2d8cf0;
  width: 106px;
  height: 35px;
  background: rgba(55,125,255,0.09);
}
.product-nav .ivu-tabs-ink-bar{
  height: 0;
}
/*咨询购买对话框*/
.ivu-modal-header-inner{
  color: rgb(208, 208, 208);
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
}
.ivu-modal-wrap *{
  font-size: 14px;
}
.ivu-modal-wrap * .sell-item{
  margin-bottom: 10px;
}
.ivu-modal-wrap * .hints{
  padding-top: 10px;
  margin-bottom: 20px;
}
.ivu-modal-wrap * .check{
  margin-top: 10px;
  display: flex;
}
.ivu-modal-wrap * .check-title{
  width: 60px;
}
.ivu-modal-wrap * .check-list{
  margin-left: 20px;
}
.ivu-modal-wrap * .inp{
  margin-top: 10px;
}
.ivu-modal-footer{
  display: none;
}
.ivu-form .ivu-form-label-right{
  margin-top: 10px;
}
.ivu-form-item-required .ivu-form-item-label:before{
  content: '';
}
.ivu-modal-wrap * .ivu-form .ivu-form-item-label{
  width: 66px !important;
  text-align: left;
  font-size: 14px;
  padding-right: 0;
}
.ivu-modal-wrap * .success{
  width: 100%;
  text-align: center;
}
.ivu-modal-wrap * .success .success-icon{
  width: 100%;
  padding: 50px 0 20px 0;
  box-sizing: border-box;
}
.ivu-modal-wrap * .success .success-content{
  width: 100%;
}
.ivu-modal-wrap * .success .success-content p:first-of-type{
  font-size: 18px;
  color: rgba(48,186,120,1);
}
.ivu-modal-wrap * .success .success-content p:last-of-type{
  font-size: 14px;
  color: rgba(102,102,102,1);
  padding: 10px 0 20px 0;
  box-sizing: border-box;
}
.ivu-modal-wrap * .success .success-content button{
  width: 64px;
  height: 36px;
  background: rgba(59,120,255,1);
  border-radius: 2px;
  color: white;
  outline: navajowhite;
  border: navajowhite;
  cursor: pointer;
}

/*云市场-列表页*/
.ivu-menu-light{
  width: 200px !important;
  box-shadow: 5px 0px 20px #e2e0e0;
 }
.ivu-menu-vertical .ivu-menu-item-group-title{
  font-size: 18px;
  color: rgba(51,51,51,1);
  font-weight: bold;
  padding-left: 40px;
  height: 70px;
  line-height: 70px;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item{
  color: rgba(102,102,102,1);
  padding-left: 40px;
  font-size: 14px;
  display: flex;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item img{
  width: 16px;
  height: 16px;
  margin: auto 10px auto 0;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu){
  background: rgba(235,240,253,1);
  border-right: 4px solid #2d8cf0;
}

.ivu-dropdown{
  padding-bottom: 10px;
}
.ivu-dropdown-rel a{
  color: rgba(102,102,102,1);
  position: relative;
}
.ivu-icon-android-arrow-dropup:before{
  position: absolute;
  top: -2px;
  right: -2px;
}
.ivu-icon-android-arrow-dropdown:before{
  position: absolute;
  bottom: -2px;
  right: -2px;
}

.product-nav .ivu-dropdown-rel a{
  margin: 0 30px;
}

/*云市场-服务商申请*/
#apply .ivu-steps .ivu-steps-head{
  background: #f4f5f9;
}
#apply .ivu-form .ivu-form-item-label{
  width: 320px !important;
  font-size: 14px;
}
#apply .ivu-input-wrapper{
  width: 500px;
}
textarea.ivu-input{
  resize: none;
  height: 120px !important;
}
#apply .ivu-form-item-error-tip{
  margin-left: 250px;
}
#apply .ivu-form-item:last-of-type{
  margin-left: 240px;
  padding: 30px 0 100px 0;
  box-sizing: border-box;
}

/*服务供应商-部署测试滑块*/
#apply .ivu-slider-wrap{
  margin-top: 0;
  margin-bottom: 0;
  height: 32px;
  background: white;
  border: 1px solid rgba(217,217,217,1);
}
#apply .ivu-slider-input .ivu-input-number{
  margin-top: 0;
}
#apply .ivu-slider-button{
  width: 14px;
  height: 40px;
  border-radius: 0;
  border: none;
  background: url(../img/market/slier.png) no-repeat center;
  background-size: cover;
}
#apply .ivu-slider-bar{
  height: 32px;
}
#apply .ivu-input-number-input:after{
  content: 'MB';
}
#apply .points-style[data-v-e7b0a332]{
  background: white;
}
#apply .ivu-select-single .ivu-select-selection .ivu-select-placeholder {
  color: #666666;
}

/*云市场-产品详情页*/
.ivu-modal-wrap * .ino-box-deploy-item{
  display: flex;
  margin-bottom: 20px;
}
.ivu-modal-wrap * .ino-box-deploy-item .title{
  width: 75px;
  line-height: 32px;
  margin-right: 10px;
  text-align: right;
}
.ivu-modal-wrap * .ino-box-deploy-item .content{
  width: 400px;
}
.ivu-modal-wrap * .ino-box-deploy-item:nth-of-type(2) {
  margin-bottom: 0;
}
.ivu-modal-wrap * .ino-box-deploy-item .content>span{
  display: inline-block;
  padding: 8px 25px;
  border: 1px solid rgba(217,217,217,1);
  color: rgba(102,102,102,1);
  font-size: 14px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}
.ivu-modal-wrap * .ino-box-deploy-item .content>span:hover{
  background: rgba(56,125,255,1);
  color: white !important;
  border: 1px solid rgba(56,125,255,1);
  transition: 0.5s;
}
.ivu-modal-wrap * .active{
  background: rgba(56,125,255,1);
  color: white !important;
  border: 1px solid rgba(56,125,255,1);
}
.ivu-modal-wrap * .points-style[data-v-e7b0a332]{
  background: white;
}
.ivu-modal-wrap * .sub{
  border-top: 1px solid rgba(233,233,233,1);
  padding-top: 20px;
  box-sizing: border-box;
  text-align: right;
  margin-top: 40px;
}
.ivu-modal-wrap * .sub button{
  width:92px;
  height:36px;
  margin-left: 10px;
}
.ivu-icon-help-circled:before{
  font-size: 40px;
}
.ivu-modal-confirm-body{
  padding-top: 8px;
}

#list .ivu-dropdown{
  margin: 0 30px;
}