*, *::before, *::after {
  box-sizing: border-box;

}

p,span {
  font-family: "pingfang sc medium", MicrosoftYaHei;
  line-height: 100%;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  height: 100%;
}

ul {
  font-size: 0px;
}

